<character>
    <div class="agentscreen" id={ props.name } style="--fromcol: {props.bgfromcol}; --tocol: {props.bgtocol}" onmousemove="MouseMoveEvent(event)">

        <h1 class="agentname" style="--desiredfontsize: {props.namesize}vh">{ props.name }</h1>
        <img class = "agentimg" src={props.img_fpath}{ props.charimg_url } style="--size: {props.charsize}%; --leftoffset: {props.charloffset}%; --bottomoffset: {props.charboffset}%;"></img>
        <h1 class="agent_fullname" id = "test">{ props.fullname }</h1>
        <h1 class="agentdescription">{ props.chardesc }</h1>

        <div class="agentselect">
            <img draggable="false" each={ ability in state.abilities } src={props.img_fpath}{ability.imgurl} />
        </div>
    </div>

    <script>
        export default {
            onBeforeMount(props, state) {
                this.state = {
                    abilities: props.abilities
                }
            }
        }
    </script>

</character>